# Ignore all .DS_Store files
.DS_Store

# mtd
mtd/code/workstation/obtaining-experimental-info/*.csv
mtd/code/workstation/obtaining-experimental-info/*.txt
mtd/code/workstation/obtaining-experimental-info/*.xlsx
mtd/code/workstation/obtaining-experimental-info/An/
mtd/code/workstation/obtaining-experimental-info/Mt/
mtd/code/workstation/obtaining-experimental-info/Nc/
mtd/code/workstation/obtaining-experimental-info/Tr/


mtd/code/workstation/Reference/

mtd/code/workstation/R/


mtd/RNA-seq/

mtd/search/

mtd/tools/


# lab
lab/JHK
lab/LDD
lab/Tian
lab/YM/
lab/ZMY/

study/AutoGen


reference-tools/