# Ignore all .DS_Store files
.DS_Store

# mtd
mtd/code/obtaining-experimental-info/*.csv
mtd/code/obtaining-experimental-info/*.txt
mtd/code/obtaining-experimental-info/*.xlsx
mtd/code/obtaining-experimental-info/An/
mtd/code/obtaining-experimental-info/Mt/
mtd/code/obtaining-experimental-info/Nc/
mtd/code/obtaining-experimental-info/Tr/


mtd/RNA-seq/

mtd/search/

mtd/tools/


# lab
lab/JHK
lab/LDD
lab/Tian
lab/YM/*.csv
lab/YM/*.xlsx
lab/YM/*.txt
lab/YM/*.tsv
lab/YM/PCA_files/
lab/YM/Mt/
lab/YM/Nc/
lab/YM/Saccharomyces_cerevisiae_S288C/
lab/YM/发给我的/

study/AutoGen
